<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZeroWeb">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <service android:name=".RendererService0" android:exported="false" android:isolatedProcess="true" />
        <service android:name=".RendererService1" android:exported="false" android:isolatedProcess="true" />
        <service android:name=".RendererService2" android:exported="false" android:isolatedProcess="true" />
        <service android:name=".RendererService3" android:exported="false" android:isolatedProcess="true" />
        <service android:name=".RendererService4" android:exported="false" android:isolatedProcess="true" />
        <service android:name=".RendererService5" android:exported="false" android:isolatedProcess="true" />
        <service android:name=".RendererService6" android:exported="false" android:isolatedProcess="true" />
        <service android:name=".RendererService7" android:exported="false" android:isolatedProcess="true" />
        <service android:name=".CompositorService" android:exported="false" android:process=":compositor" />
        <service android:name=".ImageDecoderService" android:exported="false" android:isolatedProcess="true" />
    </application>
</manifest>
